body {
  /* font-family: 'PT Sans', sans-serif; */
  font-size: 18px;
}

/* SIZE */
h1 {
  font-family: "Parisienne", cursive;
  color: #FF005C;
  font-size: 48px;
  margin: 50px;
}

h2 {
  color: #333333;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

h2::before {
  content: url(../images/Rectangle.png);
  vertical-align: center;
  margin-right: 10px;
}

h2::after {
  margin-left: 10px;
  content: url(../images/Rectangle.png);
  vertical-align: center;
}

.presentation h2 {
  padding: 40px 0;
}

.blog_items h6,
.presentation_titles h6,
.contact_item h6 {
  font-size: 36px;
  font-family: "Parisienne";
  text-align: center;
  color: #FF005C;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #FF005C;
}

h5 {
  font-size: 13px;
}

h2 {
  margin-bottom: 15px;
  line-height: normal;
}

h3, h4, h5 {
  margin-bottom: 15px;
  line-height: normal;
}

.Radical_Red {
  background-color: #FF005C;
}

.China_Rose {
  background-color: #9D5877;
}

.Eggplant {
  background-color: #472836;
}

.Orange {
  background-color: #FF3D00;
}

.col-centered {
  /*centrer une colonne horizontalement ; on peut l utiliser avec text-center */
  float: none;
  margin: 0 auto;
  /*align-items-center  centrer verticaletion*/
}

section {
  margin: 40px 0 0 0;
  padding: 10px;
}

/* HEADER */
.shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.logo img {
  margin: 5px 0;
  width: 50px;
}

.menu {
  margin: 5px;
}

.menu li {
  display: inline-block;
  padding: 0 0 0 20px;
}

.menu li a {
  font-family: "PT Sans";
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  list-style-type: none;
  text-decoration: none;
  color: #333333;
  transition: 0.5s color ease-in;
}

.menu li a:active,
.menu li a:focus,
.menu li a:hover {
  color: #FF005C;
}

/* END HEADER */
.keyframe_animation {
  position: absolute;
  display: inline-block;
  animation: KeyframeAnimation 50s 3 linear;
  animation-fill-mode: forwards;
}
.keyframe_animation a:nth-child(1) {
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.keyframe_animation img {
  width: 20px;
  height: 20px;
}

@keyframes KeyframeAnimation {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  95% {
    left: 0;
    opacity: 100;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}
/* PAGE ACCUEIL */
/* PREMIERE SECTION */
.presentation_item {
  padding-top: 50px;
}

.blog_item_details_main h3 {
  color: #333;
  font-weight: 200;
}

.blog_item_details_main h2 {
  padding-top: 40px;
}

.presentation_item img {
  width: 100%;
}

.presentation_item p {
  font-size: 24px;
  padding: 0 10px;
  font-weight: 200;
}

.presentation_item a,
.presentation_item a:active,
.presentation_item a:hover,
.presentation_item a:focus,
.presentation_item a:visited {
  font-size: 24px;
  padding: 0 10px;
  font-family: "PArisienne";
  padding: 10px 40px;
  background-color: #FF005C;
  color: #FFF;
  text-decoration: none;
}

.quotes {
  color: red;
  font-size: 48px;
  font-family: "Parisienne";
}

.services_items .center {
  justify-content: center;
}
.services_items .center input[type=button] {
  margin: 40px 0;
  padding: 10px;
  width: 300px;
  border: none;
  background-color: #472836;
  color: #FFF;
}
.services_items h3 {
  font-size: 24px;
  color: #FFF;
  font-weight: 700;
}
.services_items article {
  margin: 20px 0 0 0;
}
.services_items p {
  color: #FFF;
}
.services_items svg {
  margin: 20px auto 0 auto;
  fill: white;
}
.services_items .wordpress__animation {
  stroke-width: 5px;
  transform-origin: 13px 13px;
  transition: 3s transform ease;
}
.services_items .wordpress__animation:hover {
  transform: rotate(-360deg);
  fill: yellow;
}
.services_items .integration__animation {
  stroke-width: 5px;
  transform-origin: -20px 50px;
  transition: 1s transform ease;
}
.services_items .integration__animation:hover {
  transform: scale(1.1);
  fill: yellow;
}
.services_items .design__animation {
  stroke-width: 5px;
  transform-origin: -20px 50px;
  transition: 1s transform ease;
}
.services_items .design__animation:hover {
  transform: scale(1.1);
  fill: yellow;
}
.services_items .programmation__animation {
  stroke-width: 5px;
  transform-origin: -20px 50px;
  transition: 1s transform ease;
}
.services_items .programmation__animation:hover {
  transform: scale(1.1);
  fill: yellow;
}

.tags_icon {
  margin: 20px auto 0 auto;
  /* width: 70px; */
}

/* ANIMATION ICON DESIGN */
.design_icon {
  margin-left: -50px;
  /* margin: 20px auto 0 auto; */
  color: #FFF;
  transform: scale(0.15);
  background-color: #FF3D00;
  /* width: 70px; */
}

.D_turn {
  stroke-width: 5px;
  transform-origin: 13px 13px;
  animation: D_turn 3s infinite;
  /* transform: scale(0.1); */
}

/*
@keyframes D_turn {
    0%{
        transform : rotate(360deg);
    }
    100%{
        transform : rotate(-360deg);
    }
} */
/* END DEUXIEME SECTION */
/* TROISIEME SECTION */
.blog_items article {
  margin-bottom: 40px;
}

.blog_items img {
  margin-bottom: 10px;
}

.blog_items h5 {
  font-size: 10px;
  color: #949494;
}

.blog_items a,
.blog_items a:active,
.blog_items a:focus,
.blog_items a:hover,
.blog_items a:visited {
  color: #333333;
}

.blog_icon {
  width: 15px;
}

/* END TROISIEME SECTION  */
/* END PAGE ACCUEIL */
/* PAGE BLOG ITEM */
.blog_item_details_main {
  margin: 40px 0;
}

.blog_item_details_main p {
  padding: 20px 0 0 0;
}

.Blog_item_details {
  margin: 20px 0;
}

.Blog_item_details h5 {
  color: #949494;
  font-size: 14px;
  margin: 20px 0;
}

.Blog_item_details img {
  width: 50px;
  height: 50px;
}

.blog_item_details_main li {
  margin: 20px 0;
}

.blog_item_details_main a,
.blog_item_details_main a:active,
.blog_item_details_main a:focus,
.blog_item_details_main a:hover,
.blog_item_details_main a:visited {
  color: #333;
  text-decoration: none;
}

/* END PAGE BLOG ITEM */
/* PAGE PRESENTATION */
.presentation_titles h2 {
  margin: 40px 0 0 0;
}

.presentation_titles h4 {
  font-size: 24px;
  margin: 10px 0 0 0;
}

.presentation_titles img {
  margin: 100px 0;
  width: 100%;
  width: 350px;
  height: 450px;
}

.first_presentation {
  padding: 100px 0;
}

.background_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-image: url("../images/Daco_4043196.png");
}

.presentation_titles p {
  text-align: left;
  font-size: 24px;
}

.prensentation_item h3 {
  padding: 40px 0 0 0;
}

.presentation div {
  margin: 0 0 40px 0;
}

.presentation h3 {
  padding: 20px 0 0 0;
}

/* END PAGE PRESENTATION */
/* PAGE CONTACT */
.contact_item h2 {
  margin: 40px 0 0 0;
}

form {
  padding: 100px 0;
}

form label {
  color: #FF005C;
  text-transform: uppercase;
}

.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #FF005C;
  border: 0;
}

/* END PAGE CONTACT */
/* FOOTER */
footer {
  background-color: #472836;
}

footer h1 {
  color: #FFF;
  font-size: 96px;
  font-weight: 900;
  padding: 40px 0 10px 0;
}

footer h3 {
  font-family: "Parisienne";
  color: #FFF;
  font-size: 48px;
  padding-bottom: 40px;
}

footer img {
  width: 30px;
}

footer h5 {
  padding: 10px 0;
  background-color: #FFF;
  margin: 20px 0 0 0;
}

footer .col-centered h5 {
  font-size: 10px;
}

/* END FOOTER */
/* MEDIA QUERY */
/* // X-Small devices (portrait phones, less than 576px) */
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .logo {
    text-align: center;
  }
}
/* // Medium devices (tablets, less than 992px) */
/* // Large devices (desktops, less than 1200px) */
/* // X-Large devices (large desktops, less than 1400px) */
.Fenetre_Newsletter {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.Fenetre_Newsletter--contenu {
  position: relative;
  background-color: #FFF;
  margin: auto;
  padding: 0;
  width: 60%;
  background-color: #472836;
  animation: news_anim 0.4s;
}
.Fenetre_Newsletter--contenu__header {
  padding: 0 20px;
  color: white;
}
.Fenetre_Newsletter--contenu__header span {
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.Fenetre_Newsletter--contenu__header span:hover, .Fenetre_Newsletter--contenu__header span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.Fenetre_Newsletter--contenu__body {
  padding: 20px;
}
.Fenetre_Newsletter--contenu__body label {
  color: #FFF;
  display: block;
}
.Fenetre_Newsletter--contenu__body input {
  display: block;
  margin: 10px 0;
}

@keyframes news_anim {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.scroll_element_1,
.scroll_element_5 {
  animation: haut 2s;
}

.scroll_element_2,
.scroll_element_6 {
  animation: bas 2s;
}

.scroll_element_3 {
  animation: droite 2s;
}

.scroll_element_4 {
  animation: gauche 2s;
}

.scroll_element_7 {
  animation: rotation 2s;
}

@keyframes haut {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes bas {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes droite {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes gauche {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
.faire_apparaitre {
  opacity: 1;
  transform: translateY(0px);
}

/*# sourceMappingURL=style.css.map */
